.header{
    display: flex;
    width: 300px;
    transition-duration: 500ms;
    transform: translate(-250px);
    background-color: darkslateblue;
    border-radius: 15px;
}
.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}
.Block{
    width: 21px;
    height: 21px;
    margin: 10px;
    background-color: white;
}
.link{
    text-decoration: none;
    color: darkgray;
    margin: 10px;
}
.link:hover{
    color: white;
}
.active{
    color: aqua;
}